
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h2>Dodajesz odpowiedzi do pytania {{questionData.content}}</h2>
        <h3>Dodaj Pytanie</h3>
        {{ form_start(formoffered) }}
        {{ form_widget(formoffered) }}
        {{ form_end(formoffered) }}
         {% if haveQue == true %}
             {% if option == 'addToNew' %}
                 <a href="/question/answers/add/thanks/{{ questionData.getId }}"><button>Powrót</button></a>
             {% elseif option == 'addToOld' %}
                 <a href="/show/survey/{{ questionData.getIdSurvey }}"><button>Powrót</button></a>
             {% endif %}
        {% endif %}
    </body>
</html>