
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h3>Pytania ankiety {{ survey.name }} </h3>
        <h5>Naciśnij, aby edytować</h5>
        <ul id="list">
            {% for item in items %}
                <a href="/show/survey/question/{{ item.id }}"><li>{{ item.content }}</li></a>
            {% endfor %}
        </ul>
        <a href="/question/add/old/{{ survey.id }}"><button>Dodaj kolejne pytanie</button></a>
        <a href="/survey/delete/{{ survey.id }}"><button>Usuń</button></a>
        <a href="/show/survey"><button>Powrót</button></a>
    </body>
</html>