
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h3>Pytanie {{ question.content }} </h3>
        <strong>Typ: 
        {% if (question.typ == 1) or (question.typ == 2) %}
                {% if question.typ == 1 %} 
                    Jeden z wielu
                {% else %}
                    Wiele z wielu
                {% endif %}
            </strong>
            Opcjonale odpowiedzi:
            <ul id="list">
                {% for answer in answers %}
                    <li>{{ answer.content }}</li>
                {% endfor %}
            </ul>
        {% elseif question.typ == 3 %}
            Ocena</strong>
        {% else %}
            Otwarte</strong>
        {% endif %}
        {{ form_start(formend) }}
        {{ form_widget(formend.zakoncz, { 'label': 'usun' }) }}
        {{ form_end(formend) }}
        <a href="/question/edit/{{ question.getId() }}"><button>Edytuj</button></a>
        <a href="/show/survey/{{ question.getIdSurvey() }}"><button>Powrót</button></a>
    </body>
</html>