
<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h1>Tworzysz pytania do {{ artykul.name }}<h1>
        <h2>Dodaj Pytanie</h2>
        {{ form_start(formquestion) }}
        {{ form_widget(formquestion) }}
        {{ form_end(formquestion) }}
        {{ form_start(formend) }}
        {{ form_widget(formend) }}
        {{ form_end(formend) }}
        {% if sthIsNeed == true %}
            <span style="color:red">Musisz mieć przynajmiej jedną odpowiedź</span>
        {% endif %}
    </body>
</html>